.header{
  background-color: rgb(58, 147, 255);
  
 display: flex;

color: white;
}
.encabezado_carrito{
  background-color: rgb(58, 147, 255) ;
  color: white;
  font-size: 10px;

  
}
.divConNombre{
  width: 98%;
  margin: auto;
  box-shadow: black ;
  
    
}
.vuelo{
  border-radius:5px ;
  color: white;
  opacity: 0.7;
  text-align: center;
  height: 100%;
}
h2{
  text-align: center;
  color: rgb(58, 147, 255);
}
.container-div{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1px;

 
}
.main-cont-login-page{
  display: flex;
}
.main-cont-login-input{
text-align: center;
width: 100%;
margin-top: auto;
margin-bottom: auto;
font-family: "Poppins";

}
.carrito{
  width: 50%;
  height: 50%;
margin: auto;
  background-color: white;
  text-align: center;
  border-radius: 5px;
}
.label{
  margin: 0;
  margin-left:5%;
  text-align: left;
  font-size: 10px;
}
.icn{
width: 100%;
display: flex;
justify-content: right;
}
i{
  margin: 1%;
  color:white;
  
}
.inside-image{

 background-image: url('https://www.cheapflightsfares.com/resources/assets/smm/flights-banner.jpg'); /* Reemplaza con tu URL */
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center top;
  width: 100%;
  height: 70vh;

}

.hola img {

 width: 130%;
  height: 60vh;
 
}


form .input{
    height: 2rem;
   display: block;
   width: 60vh;
   margin: auto;
   border-radius: 10px;
   font-family: "Cal Sans", sans-serif;
   font-weight: normal;
   
  background-color: #c3ccd4 ;
   border: none;
   padding-left: 5%;
   
}
.input::placeholder{
  color: #71777e ;
  font-size: 12px;
}
.vuelos{
  display: grid;
  grid-template-columns: repeat(5,1fr);
margin: auto;
  justify-content: center; 
  align-content: center;
}
.vuelo{
border: solid #71777e 1px;
}
.imagen{
  height: 100vh;
  width: 50%;
}
.welcome-message{
  text-align: center;
  color: white;
  font-family: "Poppins";
  margin: 0;
  font-size: 5vh;
  font-weight: bold;

}

.welcome-eslogan{
  text-align: center;
  color: rgb(225, 223, 223);
  font-family: "Poppins";
  margin: 0;
  font-size: 2vh;

}
.user-actions{
text-align: right;
}
.Sing-up{
  margin: auto;
}
.login{
margin: auto;
}
a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 1%; 
 

}
.buttons{
 
 margin-left: 26.4%;
 margin-top: 2%;

}
.buttons a{
 
 margin-left: 2%;
  margin-right: 2%;


}
.imagen2{
  width: 100%;
  height:70vh;
}
form{
  width:100%;
}
.buttons-login{
text-align: right;
 

}
.mega-div{
  display: flex;

}
h1{
margin: 0;

  padding: 0.5%;
  

   
}



body{
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;

}
button{
  background-color: rgb(31, 195, 255) ;
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 30%;
  font-size: 3vh;
}